*{
    padding: 0;
    margin: 0;
  }
  
  header{
    background-color: #222222;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  li{
    list-style: none;
  }
  
  a{
    color: white;
    text-decoration: none;
  }
  

  
  .navbar{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo{
    font-size: 2rem;
  }
  
  .list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }
  
  .link{
    transition: 0.3s ease-out;
  }
  
  .link:hover{
    color: dodgerblue;
  }
  
  .hamburger{
    display: none;
    cursor: pointer;
  }
  
  .line{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease;
    background-color: white;
  }
  
  @media(max-width:600px){
    .hamburger{
      display: block;
    }
  
    .hamburger.active .line:nth-child(2){
      opacity: 0;
    }
    .hamburger.active .line:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .line:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }
  
    .list{
      position: fixed;
      left: 0%;
      top: -100%;
      gap: 0;
      flex-direction: column;
      background-color: #222222;
      width: 100%;
      text-align: center;
      transition: 0.4s ease-in-out;
    }
  
    .item{
      margin: 16px 0;
    }
  
    .list.active{
      top: 70px;
    }
  }
  